[submodule "themes/terrassa"]
	path = themes/terrassa
	url = https://github.com/danielkvist/hugo-terrassa-theme.git
[submodule "Derioss.github.io"]
	path = Derioss.github.io
	url = git@github.com:Derioss/Derioss.github.io.git
